<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>116796422514-tru32j2ts4g5o1bitqa0c2ichutd5be0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.116796422514-tru32j2ts4g5o1bitqa0c2ichutd5be0</string>
	<key>API_KEY</key>
	<string>AIzaSyCGS_FgBJueMku37berIPCL9XjR4rtkwR0</string>
	<key>GCM_SENDER_ID</key>
	<string>116796422514</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginBloc</string>
	<key>PROJECT_ID</key>
	<string>flutter-b6f68</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-b6f68.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:116796422514:ios:e2232ef2162130494805eb</string>
</dict>
</plist>